<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css">
    <title>VISHOP</title>
</head>
<body>
    <header class="header-container">
        <a href="../index.html">
            <div class="logo">
                Shop<span>perly</span>
            </div>
        </a>
        <nav class="navbar">
            <ul class="nav">
                <li><a href="../component/shop.html">Shop</a></li>
                <li><a href="../component/login.html">Login</a></li>
                <li><a href="../component/sign.html">Sign-up</a></li>
            </ul>
        </nav>
        <div class="cart-burger-container">
            <div class="cart-container">
                <a href="../component/cart.html">
                    <img src="../image/bag.svg" alt="burger menu">
                </a>
            </div>
            <div class="burger">
                <img src="../image/menu.svg" alt="burger menu">
            </div>
        </div>
    </header>
    <nav class="navbar-toggle">
        <ul class="nav">
            <li><a href="../component/shop.html">Shop</a></li>
            <li><a href="../component/login.html">Login</a></li>
            <li><a href="../component/sign.html">Sign-up</a></li>
        </ul>
    </nav>
    <main class="mainItemsContainer">
        <section class="articleContainer">
        </section>
        <div class="articleAction">
        </div>
        <div class="articleDescription">
            <h2>***Description***</h2>
            <div class="details">
                <h3>Ornare massa eget</h3>
                <ul>
                    <li>nisi lacus sed viverra tellus in hac habitasse platea dictumst</li>
                    <li>sit amet nisl suscipit adipiscing bibendum est ultricies integer quis</li>
                    <li>accumsan tortor posuere ac ut consequat semper viverra nam libero</li>
                    <li>odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</li>
                    <li>ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan</li>
                </ul>
                <h3>Ac tortor vitae</h3>
                <ul>
                    <li>iaculis urna id volutpat lacus laoreet non curabitur gravida arcu</li>
                    <li>et tortor consequat id porta nibh venenatis cras sed felis</li>
                    <li>sit amet nisl suscipit adipiscing bibendum est ultricies integer quis</li>
                    <li>accumsan tortor posuere ac ut consequat semper viverra nam libero</li>
                    <li>sit amet nisl suscipit adipiscing bibendum est ultricies integer quis</li>
                </ul>
            </div>            
        </div>

    </main>
    <footer>
        <div class="footerContainer">
            <div class="footerHelp">
                <div class="help">
                    <h3>GET HELP</h3>
                    <img src="../image/add.svg" alt="add">
                </div>
                <li class="hidden">Order Status</li>
                <li class="hidden">Shipping and delivery</li>
                <li class="hidden">Returnsr</li>
                <li class="hidden">Payment Options</li>
                <li class="hidden">Gift Card Balance</li>
                <li class="hidden">Contact Us</li>
            </div>
            <div class="footerAbout">
                <div class="about">
                    <h3>ABOUT SHOPPERLY</h3>
                    <img src="../image/add.svg" alt="add">
                </div>
                <li class="hidden">News</li>
                <li class="hidden">Careers</li>
                <li class="hidden">Investors</li>
                <li class="hidden">Purpose</li>
                <li class="hidden">Sustainability</li>
                <li class="hidden">CA Supply Chains Act</li>
            </div>
        </div>
    </footer>
    <script src="../javascript/article.js" type="module"></script>
    <script src="../javascript/navToggle.js" type="module" ></script>
    <script src="../javascript/footer.js" type="module" ></script>


</body>
</html>