<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css">
    <title>VISHOP</title>
</head>
<body>
    <header class="header-container">
        <a href="../index.html">
            <div class="logo">
                Shop<span>perly</span>
            </div>
        </a>
        <nav class="navbar">
            <ul class="nav">
                <li><a href="../component/shop.html">Shop</a></li>
                <li><a href="../component/login.html">Login</a></li>
                <li><a href="../component/sign.html">Sign-up</a></li>
            </ul>
        </nav>
        <div class="cart-burger-container">
            <div class="cart-container">
                <a href="../component/cart.html">
                    <img src="../image/bag.svg" alt="burger menu">
                </a>
            </div>
            <div class="burger">
                <img src="../image/menu.svg" alt="burger menu">
            </div>
        </div>
    </header>
    <nav class="navbar-toggle">
        <ul class="nav">
            <li><a href="../component/shop.html">Shop</a></li>
            <li><a href="../component/login.html">Login</a></li>
            <li><a href="../component/sign.html">Sign-up</a></li>
        </ul>
    </nav>
    <main class="login">

    </main>
    <footer>
        <div class="footerContainer">
            <div class="footerHelp">
                <div class="help">
                    <h3>GET HELP</h3>
                    <img src="../image/add.svg" alt="add">
                </div>
                <li class="hidden">Order Status</li>
                <li class="hidden">Shipping and delivery</li>
                <li class="hidden">Returnsr</li>
                <li class="hidden">Payment Options</li>
                <li class="hidden">Gift Card Balance</li>
                <li class="hidden">Contact Us</li>
            </div>
            <div class="footerAbout">
                <div class="about">
                    <h3>ABOUT SHOPPERLY</h3>
                    <img src="../image/add.svg" alt="add">
                </div>
                <li class="hidden">News</li>
                <li class="hidden">Careers</li>
                <li class="hidden">Investors</li>
                <li class="hidden">Purpose</li>
                <li class="hidden">Sustainability</li>
                <li class="hidden">CA Supply Chains Act</li>
            </div>
        </div>
    </footer>
    <script src="./javascript/main.js"></script>
    <script src="../javascript/navToggle.js" type="module" ></script>

</body>
</html>